{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block header %}Home Page{% endblock %}

{% block content %}
<h1>Welcome to the IMDB Reviewer</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/IMDB_Logo_2016.svg/2560px-IMDB_Logo_2016.svg.png" style="height: 50vh; width: 50vw;"/>
<p>This website is a platform dedicated to movie enthusiasts and critics alike. It allows users to explore a vast collection of movies, read reviews, and share their own opinions. Whether you're looking for the latest blockbuster hits, timeless classics, or hidden gems, this site provides a comprehensive database to satisfy your cinematic curiosity. Dive into detailed movie ratings, cast information, and user-generated reviews to make informed decisions about what to watch next. Join a community of film lovers and contribute your voice to the ever-growing world of movie discussions.</p>
{% endblock %}