{% extends 'base.html' %}
{% block header %}
    <h1>Movies</h1>
{% endblock %}
{% block content %}
    <ul>
        {% for movie in movies %}
            <li>
                <script>
                    function changeBackgroundColor(button) {
                        button.style.transition = 'background-color 300ms, color 300ms';
                        if (button.style.backgroundColor === 'white') {
                            button.style.backgroundColor = 'black';
                            button.style.color = 'white';
                        } else {
                            button.style.backgroundColor = 'white';
                            button.style.color = 'black';
                        }
                    }
                </script>
                <div style="background-color: black; color: white; border-radius: 12px; padding: 20px; margin: 10px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; transition: background-color 300ms, color 300ms;" 
                     onclick="this.style.backgroundColor = this.style.backgroundColor === 'white' ? 'black' : 'white'; this.style.color = this.style.color === 'white' ? 'black' : 'white';">
                    <h3 style="margin: 0;">{{ movie.title }} - {{ movie.year }}</h3>
                    <img src="{{ movie.poster_url }}" alt="{{ movie.title }} poster" style="width: 100px; height: auto; border-radius: 8px; margin-bottom: 10px;">
                    <p style="margin: 5px 0; font-size: 0.9em; color: gray;">Genre: {{ movie.genre }}</p>
                    <p style="margin: 5px 0; font-size: 0.9em; color: gray;">Director: {{ movie.director }}</p>
                    <p style="margin: 5px 0; font-size: 0.9em; color: gray;">Rating: {{ movie.rating }}</p>
                    <p style="margin: 5px 0; font-size: 0.9em; color: gray;">Description: {{ movie.description }}</p>
                    <p style="margin: 5px 0; font-size: 0.9em; color: gray;">Cast: {{ movie.cast }}</p>

                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}